body {
  background-color: rgb(2, 207, 207);
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  background-color: white;
  color: rgb(2, 207, 207);
  margin: 0.5rem;
  padding: 1rem;
}

h2 {
  text-align: center;
  background-color: white;
  color: rgb(2, 207, 207);
  margin: 0.5rem;
  padding: 0.5rem;
}

ul {
  list-style-type: none;

  padding: 1rem;

  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 5rem;
  column-gap: 1rem;
}

li {
  padding: 1rem;
  background-color: white;
  margin: 0.5;
  border-bottom: 2px solid gray;
  border-right: 2px solid gray;
}

code {
  font-family: monospace;
  background-color: lightgray;
  color: rgb(0, 0, 0);
  border: 1.5px solid darkgray;
  padding: 5px;
  font-size: 1.2em;
  border-radius: 5px;
  display: inline-block;
}

p {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  border-color: grey;
  margin: 10px 50px 10px 50px;
  border-radius: 5px;
  font-size: 1.2em;
}
